#ft {
padding: 2em;
    padding-top: 0.5em;
}

#bd #yui-main .yui-b {
    border: 0px solid black;
    border-right-width:1px;
    padding: 2em;
}
#bd {
    border: 1px solid black;
    border-top: 0px;
 
}

#bd  .yui-b{
    padding-top: 2em;
}

#hd {
    background-color: #DAF22F;
    height: 3em;
    border: 1px solid black;
    color: white;
    font-size: 200%;
    padding-left: 1em;
}

#hd h1 {
    padding-top: 0em;
    margin: 0.5em;
}


#codeOk {
    background-color: #ffffff; 
    font-size:1.5em;
    clear: none;
    float: right;
    width: 1em;
    margin-top: 6px;
    
}

form div {
    clear: left;
    width: 35em;

}
input, textarea {
    border: 1px solid black;
    margin-top: 0.5em;    
}



form label {
    display:block;
    float:left;
    margin:2px 0pt 5px;
    padding:3px 5px;
text-align:right;
width:20em;
    }
    
#revcanurl {
display: block; 
margin:2px 0 5px;
                    padding:5px 5px;
                    }